<%
	var curFlagpath = results.flagpath;
	var curNickname = results.nickname;
	var curId = results.id;
%>
<br><br>
<form method="post" action="/process/addcomment">
<input type="text" name="nickname" value="<%= curNickname%>">
<input type="text" name="postnum" value="<%= curPostnum%>">
<input type="text" name="id" value="<%= curId%>">
	<table>
		<tr>
			<td>Written by : <%= curFlagpath%><%= curNickname%></td>
		</tr>
		<tr>
			<td><label>comment</label></td>
		</tr>
		<tr>
			<td><textarea name="comment"></textarea></td>
		</tr>
	</table>
	<input type="submit" value="add comment : ) ">
</form>