<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script src="../ckeditor2/ckeditor.js"></script>
		<script>
		window.onload = function() {

			CKEDITOR.replace('editor1', {
				filebrowserUploadUrl: '/process/photo',
				extraPlugins : 'image2'
			});

			$('#rangestart').calendar({
				type: 'date',
				endCalendar: $('#rangeend')
			});
			$('#rangeend').calendar({
				type: 'date',
				startCalendar: $('#rangestart')
			});

		};
		</script>

		<title>Add Post</title>
	</head>
	<body>
			<%
				var curId = results.id;
				var curNickname = results.nickname;
				var curInsid = results.insid;
				var curTld = results.tld;
			%>
		<%- include rightTop.ejs %>

		<h1>Add post !</h1>
		<h1> Written by <img src="../flags-mini/<%=signTld%>.png"> <%= curNickname%></h1>
	   	<br><br>
	   		<form method="post" action="/process/addpost">
		   	<input type="hidden" name="id" id="id" value='<%= curId%>'>
			<h3>Date range</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="two fields">
						<div class="field">
						<label>Start date</label>
							<div class="ui calendar" id="rangestart">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="Start" id="startDate" name="startDate">
								</div>
							</div>
						</div>
						<div class="field">
						<label>End date</label>
							<div class="ui calendar" id="rangeend">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="End" id="endDate" name="endDate">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h3>Title</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="text" name="title">
					</div>
				</div>
			</div>
			<h3>Text</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<textarea name="post" id="editor1">This is test for uploading image.</textarea>
					</div>
				</div>
			</div>
			<h3>Hashtag</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="text" name="hashtag" id="hashtag" style="color:red">
					</div>
				</div>
			</div>
			<h3>Instagram</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<a href="https://www.instagram.com/" target="_blank"><i class="instagram icon"></i><%= curInsid %></a>
					</div>
				</div>
			</div>
			<br>
			<input type="submit" value="add Post : )">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form><br>
	</body>
</html>