<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script src="../ckeditor2/ckeditor.js"></script>
		<script>
		window.onload = function() {

			CKEDITOR.replace('editor1', {
				filebrowserUploadUrl: '/process/photo',
				extraPlugins : 'image2'
			});

			$('#rangestart').calendar({
				type: 'date',
				endCalendar: $('#rangeend')
			});
			$('#rangeend').calendar({
				type: 'date',
				startCalendar: $('#rangestart')
			});

		};

		function delTag() {
			// $('#pp').children().eq(0).remove();
			$('#tagParent').children().remove();
			$('#tempTag').val('');
		}

		function tag() {
			var tags = [];
			$.ajax({
				url: '/process/tag',
				dataType: 'json',
				type: 'POST',
				data: {
					'msg':$('#tag').val(),
					'result':$('#tempTag').val()
				},
				success: function(result) {
					if ( result['result'] == true ) {

						var tempT = [];
						var tag = [];
						var tags = result['tags'][0].split(', ');
						console.log('tags -> ' + result['tag'][0]);
						console.log('tags -> ' + result['tag'][1]);
						console.log('tags[0] -> ' + tags[0]);
						console.log('tags[1] -> ' + tags[1]);
						var tagLeng = result['tag'].split(',');
						console.log('tagLeng - > ' + tagLeng.length);
						// $('#pp').append('<a id="result" class="ui tag label" style="margin:10px">' + tags[0] + '<i class="delete icon" onClick="delTag();"></i></a>'); 태그 옆에 x를 눌러서 하나씩 지우는 기능 만들어야해.
						$('#tagParent').append('<a id="result" class="ui tag label" style="margin:10px">' + tags[0] + '</a>');
						$('#tempTag').val(result['tag']);
						
					}
				}
			});
			$('#tag').val('');
		};
		</script>

		<title>Add Post</title>
	</head>
	<body>
			<%
				var curId = results.id;
				var curNickname = results.nickname;
				var curInsid = results.insid;
				var curTld = results.tld;
			%>
		<%- include rightTop.ejs %>
		<h1>Add post !</h1>
		<h1> Written by <img src="../flags-mini/<%=signTld%>.png"> <%= curNickname%></h1>
	   	<br><br>
	   		<form method="post" action="/process/addpost">
		   	<input type="hidden" name="id" id="id" value='<%= curId%>'>
			<h3>Date range</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="two fields">
						<div class="field">
						<label>Start date</label>
							<div class="ui calendar" id="rangestart">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="Start" id="startDate" name="startDate">
								</div>
							</div>
						</div>
						<div class="field">
						<label>End date</label>
							<div class="ui calendar" id="rangeend">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="End" id="endDate" name="endDate">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h3>Travel map</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="file" name="picpath" value="" placeholder="main picture(내(운영자)가 올리는 거야. 그 루트 짜준거 여기에 사진 하나 넣을 수 있도록 해.)"><br>
					</div>
				</div>
			</div>
			<h3>Title</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="text" name="title">
					</div>
				</div>
			</div>
			<h3>Text</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<textarea name="post" id="editor1">This is test for uploading image.</textarea>
					</div>
				</div>
			</div>
			<h3>Tag</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="text" id="tag">
						<p id="tagParent"></p>
						<a href="javascript:tag();" style="padding-right:10px">Add tag</a>
						<a href="javascript:delTag();" style="color:red">Delete tag</a>
						<input type="hidden" name="tag" id="tempTag">
					</div>
				</div>
			</div>
			<h3>Instagram</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<a href="https://www.instagram.com/" target="_blank"><i class="instagram icon"></i><%= curInsid %></a>
					</div>
				</div>
			</div>
			<br>
			<input type="submit" value="add Post : )">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form><br>
	</body>
</html>