<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script>
		window.onload = function() {
			$('#rangestart').calendar({
				type: 'date',
				endCalendar: $('#rangeend')
			});
			$('#rangeend').calendar({
				type: 'date',
				startCalendar: $('#rangestart')
			});
		};
		</script>

		<title>Add Post</title>
	</head>
	<body>
			<%
				var curId = results.id;
				var curNickname = results.nickname;
				var curInsid = results.insid;
				var curTld = results.tld;
			%>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Add post !</h1>
		<h1> Written by <i class="<%=curTld%> flag"></i> <%= curNickname%></h1>
	   	<br><br>
	   	<form method="post" action="/process/addpost">
		   	<input type="hidden" name="id" id="id" value='<%= curId%>'>
			<h3>Date range</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="two fields">
						<div class="field">
						<label>Start date</label>
							<div class="ui calendar" id="rangestart">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="Start" id="startDate" name="startDate">
								</div>
							</div>
						</div>
						<div class="field">
						<label>End date</label>
							<div class="ui calendar" id="rangeend">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="End" id="endDate" name="endDate">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h3>Title</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="text" name="title">
					</div>
				</div>
			</div>
			<h3>Picpath</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="text" name="picpath">
					</div>
				</div>
			</div>
			<h3>Text</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<textarea></textarea>
					</div>
				</div>
			</div>
			<h3>Hashtag</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<input type="text" name="hashtag">
					</div>
				</div>
			</div>
			<h3>Instagram</h3>
			<div class="ui container">
				<div class="ui form">
					<div class="field">
						<a href="https://www.instagram.com/" target="_blank"><i class="<%=curTld%> flag"></i><%= curInsid %></a>
					</div>
				</div>
			</div>
			<br>
			<input type="submit" value="add Post : )">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form>
	</body>
</html>