<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script src="../ckeditor3/ckeditor.js"></script>
		<script>
			window.onload = function() {
				CKEDITOR.replace('editor1', {
					filebrowserUploadUrl : '/process/photo',
					extraPlugins : 'image2',
					// removePlugins : 'image',
					extraPlugins : 'confighelper',
					height : 400
				});

				$('#rangestart').calendar({
					type: 'date',
					endCalendar: $('#rangeend')
				});
				$('#rangeend').calendar({
					type: 'date',
					startCalendar: $('#rangestart')
				});

				<%- include searchTag.js%>
			};

			function addpost() {
				var ckeditor = CKEDITOR.instances.editor1;
				var startDate = $('#startDate').val();
				var endDate = $('#endDate').val();
				var title = $('#title').val();
				var editor1 = $('#editor1').val();
				if((startDate === "") || (endDate === "") || (title === "") || (ckeditor.getData() === "")) {
					alert('Plz, Fill required box.');
				} else {
					$('#submit_addpost').submit();
				}
			}

			function delTag() {
				// $('#pp').children().eq(0).remove();
				$('#tagParent').children().remove();
				$('#tempTag').val('');
			}

			function tag() {
				var tags = [];
				$.ajax({
					url: '/process/tag',
					dataType: 'json',
					type: 'POST',
					data: {
						'msg':$('#tag').val(),
						'result':$('#tempTag').val()
					},
					success: function(result) {
						if ( result['result'] == true ) {
							var getTag = result['msg'];
							var tempT = [];
							var tag = [];
							var tags = result['tags'][0].split(', ');
							var reg = / /gim;
							if(getTag.indexOf(',') !== -1) {
								alert("you can not put ',' in box.");
							} else {
								// $('#pp').append('<a id="result" class="ui tag label" style="margin:10px">' + tags[0] + '<i class="delete icon" onClick="delTag();"></i></a>'); 태그 옆에 x를 눌러서 하나씩 지우는 기능 만들어야해.
								$('#tagParent').append('<a id="result" class="ui tag label" style="margin:10px 10px 0px 10px">' + tags[0].replace(reg, '').toLowerCase() + '</a>');
								$('#tempTag').val(result['tag'].replace(reg,'').toLowerCase());
							}
						}
					}
				});
				$('#tag').val('');
			};

			function checkComma() {
				var tag = $('#tag').val();
				if(tag.indexOf(',') !== -1) {
					alert("you can not put ',' in box.");
				} else {
					return true;
				}
			}

			
		</script>

		<title>Add Post</title>
	</head>
	<body>
			<%
				var curId = results.id;
				var curNickname = results.nickname;
				var curInsid = results.insid;
				var curTld = results.tld;
			%>
		<%- include rightTop.ejs %>
	   		<form method="post" action="/process/addpost" enctype="multipart/form-data" id="submit_addpost">
		   	<input type="hidden" name="id" id="id" value='<%= curId%>'>
			<div class="ui container">
				<div class="ui form" style="padding-bottom:15px">
					<div class="field required">
						<label>Travel map (have got from manager)</label>
						<input type="file" name="picpath" value="" placeholder="main picture(내(운영자)가 올리는 거야. 그 루트 짜준거 여기에 사진 하나 넣을 수 있도록 해.)"><br>
					</div>
				</div>
				<div class="ui form">
					<div class="two fields">
						<div class="field required">
						<label>Start date</label>
							<div class="ui calendar" id="rangestart">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="START" id="startDate" name="startDate">
								</div>
							</div>
						</div>
						<div class="field required">
						<label>End date</label>
							<div class="ui calendar" id="rangeend">
								<div class="ui input left icon">
									<i class="calendar icon"></i>
									<input type="text" placeholder="END" id="endDate" name="endDate">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui form">	
				   	<div class="field">
						<label>Tag</label>
					</div>
			   	</div>
				<div class="ui form">
					<div class="field">
						<input type="text" id="tag" placeholder="TAG">
						<p id="tagParent" style="margin-bottom:0px"></p>
						<a href="javascript:tag();" style="padding-right:15px">Add tag</a>|
						<a href="javascript:delTag();" style="color:red;padding-left:15px">Delete tag</a>
						<input type="hidden" name="tag" id="tempTag">
					</div>
				</div>
				<div class="ui form" style="padding-top:15px">
					<div class="field required">
						<label>Title</label>
						<input type="text" name="title" id="title" placeholder="TITLE">
					</div>
				</div>
				<div class="ui form">
					<div class="field required">
						<label style="padding-top:15px">Text</label>
						<textarea name="post" id="editor1" placeholder="TEXT"></textarea>
					</div>
				</div>
				<div class="ui form">	
				   	<div class="field">
						<label style="padding-top:15px">Instagram</label>
						<a href="https://www.instagram.com/" target="_blank"><i class="instagram icon"></i><%= curInsid %></a>
					</div>
			   	</div>
			</div>
			<br>
			<div style="padding-left:2%">
				<input type="button" class="ui primary basic button" value="add Post : )" onclick="addpost()">
				<a href="/process/main"><input type="button" class="ui negative basic button" value="Cancle : ("></a>
			</div>
		</form><br>
	</body>
</html>