<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			function submit_authorize(i) {
				if (confirm('Do you authorize this member ?') == true) {
					var curEmail = $('#list'+i).val();
					var curPermissionpost = $('#permissionpost'+i).val();
					$('#curEmail').val(curEmail);
					$('#curPermissionpost').val(curPermissionpost);
					$('#submit_authorize').submit();	
				} else {
					return;
				}
			}
		</script>

		<title>Authorize posting</title>
	</head>
	<body>
		<%- include rightTop.ejs %>
		<br>
		<h1>members list</h1><br>
		<form method="post" action="/process/authorize" id="submit_authorize">
			<input type="hidden" value="" name="curEmail" id="curEmail">
			<input type="hidden" value="" name="curPermissionpost" id="curPermissionpost">
		</form>
		<div class="ui container">
			<div class="ui list">
				<% var count = 0;for(var i = 0; i < results.length; i++) { %>
					<%if(results[i].email !== null) { count++; %>
					<input type="button" value="Authorizing to <%=results[i].nickname%>" onClick="submit_authorize(<%=i%>)">
					<input type="hidden" value="<%=results[i].permissionpost%>" id="permissionpost<%=i%>">
					<input type="hidden" value="<%=results[i].email%>" id="list<%=i%>">
						<div class="item">		
								<%=count%>. <img class="ui avatar image" src="../../flags-mini/<%=results[i].tld%>.png">
								<div class="content" style="">
									<h4 style="display:inline">Nickname - </h4><%=results[i].nickname%><br><h4 style="display:inline">Email - </h4><%=results[i].email%><br><h4 style="display:inline">Permission count - </h4><%=results[i].permissionpost%>
								</div>
						</div><hr>
					<% } %>	
				<% } %>
			</div>
			<h4 style="text-align:right">members count : <%=count%></h4>
		</div><br><br>
	</body>
</html>