<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script src="../ckeditor2/ckeditor.js"></script>
		<script>
			window.onload = function() {
				CKEDITOR.replace('editor1', {
					filebrowserUploadUrl : '/process/photo',
					extraPlugins : 'image2',
					extraPlugins : 'confighelper'
				});

				$('#rangestart').calendar({
					type: 'date',
					endCalendar: $('#rangeend')
				});
				$('#rangeend').calendar({
					type: 'date',
					startCalendar: $('#rangestart')
				});
			}

			function view(num) {
				<%# alert(num); %>

				$('#postnum').val(num);

				$('#frm').submit();	
			};

			function delTag() {
				// $('#pp').children().eq(0).remove();
				$('#tagParent').children().remove();
				$('#tempTag').val('');
			}

			function tag() {
				var tags = [];
				$.ajax({
					url: '/process/tag',
					dataType: 'json',
					type: 'POST',
					data: {
						'msg':$('#tag').val(),
						'result':$('#tempTag').val()
					},
					success: function(result) {
						if ( result['result'] == true ) {

							var tempT = [];
							var tag = [];
							var tags = result['tags'][0].split(', ');
							var reg = / /gim;
							// $('#pp').append('<a id="result" class="ui tag label" style="margin:10px">' + tags[0] + '<i class="delete icon" onClick="delTag();"></i></a>'); 태그 옆에 x를 눌러서 하나씩 지우는 기능 만들어야해.
							$('#tagParent').append('<a id="result" class="ui tag label" style="margin:10px 10px 0px 10px">' + tags[0].replace(reg,'').toLowerCase() + '</a>');
							$('#tempTag').val(result['tag'].replace(reg,'').toLowerCase());
							
						}
					}
				});
				$('#tag').val('');
			};

		</script>
	</head>
	<body>
		<%
			var curHowmanydays = results.howmanydays;
			var curNickname = results.nickname;
			var curInsid = results.insid;
			var curTitle = results.title;
			var curPicpath = results.picpath;
			var curPost = results.post;
			var curGetwant = results.getwant;
			var curHashTag = results.hashtag;
			var curViews = results.views
			var curCreated_at = results.p_created_at;
			var curPostnum = results.postnum;
			var writtenTld = results.tld;
		%>
			<%# 이것은 date format을 바꿔주는 것. %>
		<%
			function formatDate(date) {
		    var d = new Date(date),c                                                                                           
		    month = '' + (d.getMonth() + 1),
		    day = '' + d.getDate(),
		    year = d.getFullYear();

		    if (month.length < 2) month = '0' + month;
		    if (day.length < 2) day = '0' + day;

		    return [year, month, day].join('-');
			};
		%><a href="/process/main" style="font-size:23px;float:right">Talk<br>T&nbsp;iK</a><br>
		<div style="text-align:left">
		Hi ! <img src="../flags-mini/<%=signTld%>.png"> <%=signNick%>
		</div>
		<hr>
		<h1 style="text-align:center">Edit post !</h1>
	   	<form name="frm" id="frm" action="/process/showpost" method="post">
			<input type="hidden" name="postnum" id="postnum">
		</form>
	   	<form method="post" action="/process/editpost">
   		<div class="ui container">
			<div style="text-align:right; padding-top:20px">
				<a class="ui image small label">
					Created_Date
					<div class="detail"><%=formatDateHelper(curCreated_at)%></div>
				</a>
				<a class="ui image small label">
					Views
					<div class="detail"><%= curViews%></div>
				</a><br><br>
				Written by <img src="../flags-mini/<%=signTld%>.png"> <%= curNickname%> !</h4>
			</div>
		</div><br>
		<div class="ui container">
			<div class="ui form">
				<h1 style="text-align:center"><input type="text" name="title" value="<%= curTitle%>" placeholder="TITLE"></h1><br>
			</div>
			<div style="text-align:right">
				<div class="ui container">
					<div class="ui form">
						<div class="two fields">
							<div class="field">
							<label>Start date</label>
								<div class="ui calendar" id="rangestart">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										<input type="text" placeholder="START" id="startDate" name="startDate" value="<%=startDate%>">
									</div>
								</div>
							</div>
							<div class="field">
							<label>End date</label>
								<div class="ui calendar" id="rangeend">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										<input type="text" placeholder="END" id="endDate" name="endDate" value="<%=endDate%>">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3>Text</h3>
		<div class="ui container">
			<div class="ui form">
				<div class="field">
					<textarea name="post" id="editor1" placeholder="TEXT"><%= curPost%></textarea>
				</div>
			</div>
		</div>
		<h3>Tag</h3>
		<div class="ui container">
			<div class="ui form">
				<div class="field">
					<input type="text" id="tag" placeholder="TAG">
					<p id="tagParent">
						<%
						var ArrTag = curHashTag.split(', ');
						console.log('ArrTag -> ' + ArrTag)
						console.log('ArrTag 1-> ' + ArrTag[1])
						console.log('ArrTag 2-> ' + ArrTag[2])
						for(var i = 0; i < ArrTag.length -1; i++) {%>
						<a id="result" class="ui tag label" style="margin:10px"><%= ArrTag[i]%></a>
						<%}%>
					</p>
					<a href="javascript:tag();" style="padding-right:15px">Add tag</a>|
					<a href="javascript:delTag();" style="color:red;padding-left:15px">Delete tag</a>
					<input type="hidden" name="tag" id="tempTag" value="<%=curHashTag%>">
				</div>
			</div>
		</div>
		<br>
		<div class="ui labeled button" tabindex="0">
			<div class="ui blue button">
				<i class="plane icon"></i> I wanna go
			</div>
			<a class="ui basic blue left pointing label">
			<%=curGetwant%>
			</a>
		</div>
		<h3>Instagram</h3>
		<div class="ui container">
			<label><a href="https://www.instagram.com/<%=curInsid%>" target="_blank"><i class="instagram icon"></i> <%= curInsid %></a></label>
		</div><br>
			<input type="submit" value="Update : )">
			<a href="/process/showpost?postnum=<%=curPostnum%>"><input type="button" value="Cancle : )"></a>
		</form><br>
	</body>
</html>