<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>My info</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			<%- include editinfo_control.ejs%>
		</script>
	</head>
	<body>
		<%
			var curNickname = results[0][0].nickname;
			var curEmail = results[0][0].email;
			var curFlagpath = results[0][0].flagpath;
			var curCountry = results[0][0].country;
			var curAgegroup = results[0][0].agegroup;
			var curInsid = results[0][0].insid;
		%>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<br> <h2>Hello. <%= curNickname%> !</h2>
		<br><br>
		<a href="/process/mypost">My post</a>
		<br><br><a href='/process/myinfo'>My info</a>
		<p>
		<form action="/process/showpost" method="post">
			<input type="hidden" id="ages" value="<%= curAgegroup%>">
		</form>
		<input type="hidden" value="test" id="tempNick">
		<input type="hidden" value="firPW" id="tempFirPW">
		<input type="hidden" value="secPW" id="tempSecPW">
		<form method="post" action="/process/editinfo" id="editinfo">
			<table>
				<tr>
					<td><label>Nickname : </label></td>
					<td><input type="text" name="nickname" value="<%= curNickname%>" id="nickname" placeholder="can not fill some special character.">
					<input type="button" value="Duplication check" onClick="duchNickname()"></td>
				</tr>
				<tr>
					<td><label>Email : </label></td>
					<td><%= curEmail%></td>
				</tr>
				<tr>
					<td><label>originPassword : </label></td> 
					<td><input type="password" value="<%= curEmail%>"> <- 여기에 기존의 패스워드를 입력하고 그것을 확인한 후에 비밀번호 변경이 가능하게.</td>
				</tr>
				<tr>
					<td><label>Password : </label></td>
					<td><input type="password" id="firPW"></td>
				</tr>
				<tr>
					<td><label>Password (repeat) : </label></td>
					<td><input type="password" name="passwd" id="secPW"><input type="button" value="Check password" onClick="checkPW()"></td>
				</tr>
				<tr>
					<td><label>Country : </label></td>
					<td><input type="text" name="country" value="<%= curCountry%>"></td>
				</tr>
				<tr>
					<td><label>Age group : </label></td>
					<td>
						<select name="agegroup" id="ageSel">
							<option value="10s"> 10s</option>
							<option value="20s"> 20s</option>
							<option value="30s"> 30s</option>
							<option value="40s"> 40s</option>
							<option value="50s"> 50s</option>
							<option value="60s"> 60s</option>
							<option value="70s"> 70s</option>
							<option value="80s"> 80s</option>
							<option value="90s"> 90s</option>
							<option value="100s"> 100s</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Instagram ID : </label></td>
					<td><input type="text" name="insid" value="<%= curInsid%>"></td>
				</tr>
				<tr>
					<td><br><br><input type="button" value="Cancel my membership. : (" onClick="cancelMembership()"></td>
				</tr>
			</table>
			<p><br>
			<input type="button" value="submit : )" onClick="checkEmpty()">
			<a href="/process/myinfo"><input type="button" value="Cancle : )"></a>
		</form>
		<form method="post" action="/process/cancelmember" id="cancelMember">
			<input type="hidden" name="curEmail" value="<%=curEmail%>">
			<input type="hidden" name="cancelId" value="<%=results[0].id%>">
		</form>
	</body>
</html>