<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			<%- include editinfo_control.js%>
		</script>

		<style>
			td input {
				width : 200px;
			}
		</style>
		<title>My info</title>
	</head>
	<body>
		<%
			var curNickname = results[0][0].nickname;
			var curEmail = results[0][0].email;
			var curCountry = results[0][0].country;
			var curAgegroup = results[0][0].agegroup;
			var curInsid = results[0][0].insid;
			var curTld = results[0][0].tld;
		%>
		<%- include rightTop.ejs %>
		<form action="/process/showpost" method="post">
			<input type="hidden" id="ages" value="<%= curAgegroup%>">
		</form>
		<input type="hidden" value="test" id="tempNick">
		<input type="hidden" value="firPW" id="tempFirPW">
		<input type="hidden" value="secPW" id="tempSecPW">
		<input type="hidden" value="<%=arrNick%>">
		<form method="post" action="/process/editinfo" id="editinfo">
			<div class="ui container" style="padding-bottom:30px">
				<div class="ui form">
					<div class="field">
						<label>Nickname</label>
						<input type="text" name="nickname" value="<%= curNickname%>" id="nickname" placeholder="can not fill some special character.">
						<input type="button" value="Duplication check" onClick="checkNickname()" class="ui secondary basic button" style="float:right;padding-top:8px;padding-bottom:8px;margin-top:5px">
					</div>
					<div class="field">
						<label>Email (not able to change)</label>
						<div style="padding:.67857143em 1em;border:1px solid rgba(34,36,38,.15);border-radius:.28571429rem"><%=curEmail%></div>
						<input type="hidden" name="username" id="email" value="<%=curEmail%>">
					</div>
					<div class="field">
						<label>originPassword</label>
						<input type="password" name="password" value="" id="oriPassword"><div style="color:red"><%=checkoriginpw%></div>
					</div>
					<div class="field">
						<label>Password</label>
						<input type="password" id="firPW">
					</div>
					<div class="field">
						<label>Password (repeat)</label>
						<input type="password" name="passwd" id="secPW"><input type="button" value="Check password" class="ui secondary basic button" onClick="checkPW()" style="float:right;padding-top:8px;padding-bottom:8px;margin-top:5px">
					</div>
					<div class="field">
						<label>Country</label>
						<input type="text" name="country" value="<%= curCountry%>">
					</div>
					<div class="field">
						<label>Age group</label>
						<div class="ui fluid search selection dropdown">
							<input type="hidden" name="agegroup" id="ageSel2">
							<i class="dropdown icon"></i>
							<div class="default text" id="ageSel">Select Age group</div>
							<div class="menu">
								<div class="item" data-value="10s">10s</div>
								<div class="item" data-value="20s">20s</div>
								<div class="item" data-value="30s">30s</div>
								<div class="item" data-value="40s">40s</div>
								<div class="item" data-value="50s">50s</div>
								<div class="item" data-value="60s">60s</div>
								<div class="item" data-value="70s">70s</div>
								<div class="item" data-value="80s">80s</div>
								<div class="item" data-value="90s">90s</div>
								<div class="item" data-value="100s">100s</div>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Instagram</label>
						<input type="text" name="insid" value="<%= curInsid%>">
					</div>
				</div><br>
				<input type="button" class="ui primary basic button" value="submit : )" onClick="checkEmpty()">
				<a href="/process/myinfo"><input type="button" class="ui negative basic button" value="Cancle : )"></a>
				<div style="padding:30px 0px">
					<input type="button" class="ui negative button" value="Cancel my membership. : (" onClick="cancelMembership()" style="color:red;color:white;float:right">
				</div>
			</div>
		</form>
		<form method="post" action="/process/cancelmember" id="cancelMember">
			<input type="hidden" name="curEmail" value="<%=curEmail%>">
			<input type="hidden" name="cancelId" value="<%=results[0].id%>">
		</form>
	</body>
</html>