<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			<%- include searchTag.js%>
		</script>
		<title>Search results</title>
	</head>
	<body>
		<form method="get" method="/process/searched" id="searched">
			<input type="hidden" value="" id="gettag" name="gettag">
		</form>
		<div class="ui search" style="float:left">
			<div class="ui icon input right">
				<input class="prompt" type="text" placeholder="Search tag...">
				<i class="search icon"></i>
			</div>
			<div class="results"></div>
		</div>
		<a href="/process/main" style="font-size:23px;float:right">Talk<br>T&nbsp;&nbsp;ik</a>
		<hr style="margin-top:50px">
		<div style="text-align:right;width:100%;padding-bottom:20px">
		<a href="/process/signin">Sign in</a> | 
		<a href="/process/signup">Sign up</a>
		</div>
		<div style="text-align:center;padding:10px 0 40px">
			<%=gettag%>
			<hr width="300px">
		</div>
		<div class="ui two column grid" style="padding:1% 3%">
			<%- include pagination.ejs%>
		</div>
		<div style="text-align:center;padding:5% 0 10% 0;">
			<% 
				for(var j=0; j<results.length/4; j++) {
			%>
				<a href="/process/main/<%= j+1%>?gettag=<%=gettag%>" style="padding:5%"><%= j+1%></a>&emsp;
			<%
				}
			%>
		</div>
	</body>
</html>