<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>Main</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Welcome tik !</h1>
		<a href="/process/signin">signin</a>
		<br><br><a href='/process/signup'>signup</a>
		<br><br><%# 밑에 flagpath도 가져와서 타이틀 옆에 보이게하자.%>

		<% for(var i=(page*page_num)-page_num); i<(page*page_num); i++) {
		if(i > leng) {
			i++;
		} else {
			var item = results[i];
		%>
			<tr>
				<td><%= i+1 %></td>
				<td><%= item.create_name %></td>
				<td><a href="/process/main"><%= item.title%></a></td>
				<td><%=item.hit%></td>
				<td><%=item.createdate%></td>
			</tr>
		<%
			}
		}
		%>

		<tr>
			<td colspan="5">
				<%
					for(var j=0; j<rows.length/4; j++) {
				%>
					[ <a href="/process/main/<%=j+1 %>"><%= j+1%></a>]
				<%
					}
				%>
			</td>
		</tr>

	</body>
</html>