<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			<%- include searchTag.js%>
		</script>

		<title>My info</title>
	</head>
	<body>
		<%
			var curNickname = results.nickname;
			var curEmail = results.email;
			var curPassword = '';
			var curTld = results.tld;
			var curCountry = results.country;
			var curAgegroup = results.agegroup;
			var curInsid = results.insid;
		%>
		<%- include rightTop.ejs %>
		<h1>Hello. <img src="../flags-mini/<%=curTld%>.png"> <%= nickname%> !</h1>
		<br><br>
		-----------나중에 카드 형식으로 바꿔-----------
		<h3>Nickname</h3>
		<div class="ui container">
			<%= curNickname%>
		</div>
		<h3>Email</h3>
		<div class="ui container">
			<%= curEmail%>
		</div>
		<h3>country</h3>
		<div class="ui container">
			<img src="../flags-mini/<%=signTld%>.png"> <%= curCountry%>
		</div>
		<h3>Age group</h3>
		<div class="ui container">
			<%= curAgegroup%>
		</div>
		<h3>Instagram</h3>
		<div class="ui container">
			<a href="https://www.instagram.com/<%=curInsid%>" target="_blank"><i class="instagram icon"></i> <%= curInsid%></a>%>
		</div>
		<p><br>
		<a href="/process/editinfo">Change own info</a>
	</body>
</html>