<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			
		</script>
	</head>
	<body>
		<%
			var curNickname = results.nickname;
			var curEmail = results.email;
			var curPassword = '';
			var curTld = results.tld;
			var curCountry = results.country;
			var curAgegroup = results.agegroup;
			var curInsid = results.insid;
		%>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<br> <h2>Hello. <i class="<%=curTld%> flag"></i><%= curNickname%> !</h2>
		<br><br>
		<a href="/process/mypost">My post</a>
		<br><br><a href='/process/myinfo'>My info</a>
		<p>
		<table>
			<tr>
				<td><label>Nickname : <%= curNickname%></label></td>
			</tr>
			<tr>
				<td><label>Email : <%= curEmail%></label></td>
			</tr>
			<tr>
				<td><label>Country : <i class="<%=curTld%> flag"></i><%= curCountry%></label></td>
			</tr>
			<tr>
				<td><label>Age group : <%= curAgegroup%></label></td>
			</tr>
			<tr>
				<td><label>Instagram ID : <a href="https://www.instagram.com/<%=curInsid%>" target="_blank"><i class="instagram icon"></i> <%= curInsid%></a></label></td>
			</tr>
		</table>
		<p><br>
		<a href="/process/editinfo">Change own info</a>
	</body>
</html>