<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>My info</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script>
			
		</script>
	</head>
	<body>
		<%
			var curNickname = results.nickname;
			var curEmail = results.email;
			var curPassword = '';
			var curFlagpath = results.flagpath;
			var curCountry = results.country;
			var curAgegroup = results.agegroup;
			var curInsid = results.insid 
		%>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<br> <h2>Hello. <%= curNickname%> !</h2>
		<a href="/process/mypost">My post</a>
		<br><br><a href='/process/myinfo'>My info</a>
		<p>
		<table>
			<tr>
				<td><label>Nickname : <%= curNickname%></label></td>
			</tr>
			<tr>
				<td><label>Email : <%= curEmail%></label></td>
			</tr>
			<tr>
				<td><label>Password : ********</label></td>
			</tr>
			<tr>
				<td><label>Country : <%= curCountry%></label></td>
			</tr>
			<tr>
				<td><label>Age group : <%= curAgegroup%></label></td>
			</tr>
			<tr>
				<td><label>Instagram ID : <%= curInsid%></label></td>
			</tr>
		</table>
		<p>
		<a href="/process/editinfo">Change own info</a>
	</body>
</html>