<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			window.onload = function() {
				<%- include searchTag.js%>
			}
		</script>

		<title>My info</title>
	</head>
	<body>
		<%
			var curNickname = results.nickname;
			var curEmail = results.email;
			var curPassword = '';
			var curTld = results.tld;
			var curCountry = results.country;
			var curAgegroup = results.agegroup;
			var curInsid = results.insid;
		%>
		<%- include rightTop.ejs %>
		<div class="ui centered card">
			<a href="/process/editinfo" style="text-align:right;padding:5px">Change own info</a>
			<div class="image">
				<img src="../flags(short)/<%=curTld%>.png">
			</div>
			<div class="content">
				<p class="header" style="text-align:center;font-size:25px;margin-bottom:0px"><%= nickname%></p>
				<hr width="200px">
				<i class="address card outline icon"></i> <%= curEmail%><br>
				<i class="flag outline icon"></i> <%= curCountry%><br>
				<i class="user outline icon"></i> <%= curAgegroup%>
			</div>
			<div class="extra content">
				<a>
					<a href="https://www.instagram.com/<%=curInsid%>" target="_blank"><i class="instagram icon"></i> <%= curInsid%></a>%>
				</a>
			</div>
		</div>
	</body>
</html>