<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<title>My post</title>
	</head>
	<body>
		
	<%- include rightTop.ejs %>
		<h1>Welcome to TiK !</h1>
		<br><br>
		<% if(results.length === 0) {%>
			You don't have a posting. <br>
		<% } else {%>
			<%- include pagination.ejs%>
		<% } %>
		<br>
		<tr>
			<td colspan="5">
				<% 
					for(var j=0; j<results.length/4; j++) {
				%>
					<a href="/process/mypost/<%= j+1%>"><%= j+1%></a>&emsp;
				<%
					}
				%>
			</td>
		</tr>
	</body>
</html>