<%

function formatDate(date) {
    var d = new Date(date),
    month = '' + (d.getMonth() + 1),
    day = '' + d.getDate(),
    year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}
	for(var i =(page * pagenum) - pagenum; i < (page * pagenum); i++) { 
		if(i > leng) {
			i++;
		} else {
			var curTitle = results[i].title;
			var curPostnum = results[i].postnum;
			var curFlagpath = results[i].flagpath;
			var curCreated_at = results[i].created_at;
			var curViews = results[i].views;
			var curGetwant = results[i].getwant;
			var curNickname = results[i].nickname;
			var curPicpath = results[i].picpath;
			var curFlag = results[i].flag;

			
		%>
			<li><a href="/process/showpost?postnum=<%=curPostnum%>"><%= curPicpath%> Title : <%= curTitle %></a><%= curFlagpath%> <%= curNickname%> date : <%= formatDate(curCreated_at)%> views : <%= curViews%> wanna go : <%= curGetwant%></li><br>	
<%		}
	}
%>