<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Main</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			function view(num, id, leng) {
				<%# alert(num); %>

				$('#postnum').val(num);
				$('#memberId').val(id);
				$('#postLength').val(leng);

				$('#frm').submit();

			}
		</script>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Welcome tik !</h1>
		<div><p>Email : <%= email%></p></div>
		<div><p>Nickname : <%= nickname%></p></div>
		<br><br><a href="/process/addpost">Add post</a>
		<br><br><a href="/process/signout">Sign out</a>
		<br><br><a href="/process/mypost">My post</a>
		<p>
		<form name="frm" id="frm" action="/process/showpost" method="post">
			<input type="hidden" name="postnum" id="postnum">
			<input type="hidden" name="memberId" id="memberId">
		</form>
		<%
			for(var i =0; i < results.length; i++) { 
				var curTitle = results[i].title;
				var curMemberId = results[i].members_id;
				var curPostnum = results[i].postnum; %>
			<li>#<%= curPostnum%> - Title : <a href="#" onclick="view(<%= curPostnum%>, <%= curMemberId%>)" return false><%= curTitle %></a></li><br>
		<% } %>
	</body>
</html>