<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			<%- include searchTag.js%>
		</script>

		<style>
		</style>

		<title>Main</title>

			<%# 이거 클라이언트에서 서버로 데이터 보낼 때 사용. 병기가 알려준 것. 밑에 form 태그와 함께.
				function view(num, id, leng) {
					alert(num);

					$('#postnum').val(num);
					$('#memberId').val(id);

					$('#frm').submit();

				}%>
	</head>
	<body>
	<div class="ui search" style="float:left">
		<div class="ui icon input right">
			<input class="prompt" type="text" placeholder="Search tag...">
			<i class="search icon"></i>
		</div>
		<div class="results"></div>
	</div>
	<%- include rightTop.ejs %>
		<%# 병기가 알려준 것.
			<form name="frm" id="frm" action="/process/showpost" method="get">
				<input type="hidden" name="postnum" id="postnum">
				<input type="hidden" name="memberId" id="memberId">
			</form>
		%>
		<br>
		<div class="ui two column grid" style="padding:0 3% 1%">
			<%- include pagination.ejs%>
		</div>
		<br>
		<div style="text-align:center">
				<% 
					for(var j=0; j<results.length/4; j++) {
				%>
					<a href="/process/main/<%= j+1%>" style="padding:3%"><%= j+1%></a>&emsp;
				<%
					}
				%>
		</div>
	</body>
</html>