<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>Main</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>

			<%# 이거 클라이언트에서 서버로 데이터 보낼 때 사용. 병기가 알려준 것. 밑에 form 태그와 함께.
				function view(num, id, leng) {
					alert(num);

					$('#postnum').val(num);
					$('#memberId').val(id);

					$('#frm').submit();

				}%>

		</script>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Welcome tik !</h1>
		<div><p>Email : <%= email%></p></div>
		<div><p>Nickname : <%= nickname%></p></div>
		<br><br><a href="/process/addpost">Add post</a>
		<br><br><a href="/process/signout">Sign out</a>
		<br><br><a href="/process/mypost">My post</a>
		<p>

		<%# 병기가 알려준 것.
			<form name="frm" id="frm" action="/process/showpost" method="get">
				<input type="hidden" name="postnum" id="postnum">
				<input type="hidden" name="memberId" id="memberId">
			</form>
		%>
		
		<%- include pagination.ejs%>
		<br>
		<tr>
			<td colspan="5">
				<% 
					for(var j=0; j<results.length/4; j++) {
				%>
					[ <a href="/process/main/<%= j+1%>"><%= j+1%></a> ]
				<%
					}
				%>
			</td>
		</tr>
	</body>
</html>