<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			<%- include showpost_control.js%>

				function repl(sentence, arr, src, style){
					var rere = sentence.replace(arr, '<img src=' + src + ' style=' + style+ '>')
					$('#tempText').val(rere);
					return sentence.replace(arr, '<img src=' + src + ' style=' + style+ '>');
				};
				
				function getwant() {
					var getwant_members = "<%=results[0].getwant_members%>";
					var getwant_ip = "<%=results[0].getwant_ip%>";

					console.log('getwant_members -> ' + getwant_members);
					var getwant_members_split = getwant_members.split(',');
					var getwant_ip_split = getwant_ip.split(',');
					console.log(getwant_members_split);
					console.log(getwant_ip_split);
					console.log('curSigninId -> ' + <%=curSigninId%>)
					console.log('splitmember -> ' +getwant_ip_split.indexOf("<%=curSigninId%>"));
					console.log('splitIp -> ' +getwant_ip_split.indexOf("<%=curIp%>"));

					console.log(getwant_members_split.indexOf("<%=curSigninId%>"));

					if(<%=curSigninId%>) {
						$('#submit_getwant').submit();
					} else {
						$('#submit_Notgetwant').submit();
					}
				}

		</script>

		<title>Show post</title>
	</head>
	<body>
		<%
			var curId = results[0].id;
			var curNickname = results[0].nickname;
			var curInsid = results[0].insid;
			var curCreated_at = results[0].p_created_at;
			var curUpdated_at = results[0].p_updated_at;
			var curTitle = results[0].title;
			var curPicpath = results[0].picpath;
			var curPost = results[0].post;
			var curGetwant = results[0].getwant;
			var curGetwant_members = results[0].getwant_members;
			var curGetwant_ip = results[0].getwant_ip;
			var curHashTag = results[0].hashtag;
			var curViews = results[0].views;
			var curHowmanydays = results[0].howmanydays;
			var curPostnum = results[0].postnum;
			var curP_MembersId = results[0].members_id;
			var curPostings_postnum = results[0].postings_postnum;
			var writtenTld = results[0].tld;
			var commLeng = 0;
		%>
		<% if(notSign === false) {%>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a> Hi ! <img src="../flags-mini/<%=signTld%>.png"> <%=signNick%>
		<% } else { %>
			<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<% } %>
		<hr>
		<div class="ui container">
			<div class="ui" style="float:right">
				<% if(notSign === false) { %>
					<% if(curId == curSigninId || signNick === "harrislim") { %> <%# If sign in %>
						<input type="button" value="Edit" onClick="button_edit();">
						<input type="submit" value="Delete : (" onClick="button_delPost();">
						<form method="post" action="/process/deletepost" id="button_delPost"> <input type="hidden" name="postnum" value="<%= curPostnum%>">
						</form>
					<% } else { %>
						<input type="button" value="Delete : (" onClick='alert("you cant delete.")'>
					<% } %>
				<% } else { %>
					<input type="button" value="Delete : (" onClick='alert("you can not delete.")'>
				<% } %>
			</div>
		</div>
		<div class="ui container">
			<div style="text-align:right; padding-top:25px">
				<a class="ui image label">
					Created_Date
					<div class="detail"><%=formatDateHelper(curCreated_at)%></div>
				</a>
				<a class="ui image label">
					Views
					<div class="detail"><%= curViews%></div>
				</a>
			</div>
		</div><br>
		<div class="ui container">
			<h1 style="text-align:center"><%= curTitle%></h1><br>
			<div style="text-align:right">
				<h4><%= curHowmanydays%><br>
				Written by <img src="../flags-mini/<%=writtenTld%>.png"> <%= curNickname%> !</h4>
			</div>
		</div>
		<h3>Post</h3>
		<div class="ui container">
			<div class="ui message">
				<%- curPost%>
			</div>
		</div>
		<h3>Hashtag</h3>
		<div class="ui container">
			<%= curHashTag%>
		</div>
		<br>
		<form method="post" action="/process/getwant" id="submit_getwant">
			<input type="hidden" value="<%=curSigninId%>" name="curMemberId" id="curMemberId">
			<input type="hidden" value="<%=curPostnum%>" name="curPostnum">
			<input type="hidden" value="<%=curGetwant%>" name="curGetwant">
			<input type="hidden" value="<%=curGetwant_members%>" name="curGetwant_members">
			<input type="hidden" value="<%=curGetwant_ip%>" name="curGetwant_ip">
			<input type="hidden" value="<%=curIp%>" name="curIp">
		</form>
		<form method="post" action="/process/notgetwant" id="submit_Notgetwant">
			<input type="hidden" value="<%=curSigninId%>" name="curMemberId">
			<input type="hidden" value="<%=curPostnum%>" name="curPostnum">
			<input type="hidden" value="<%=curGetwant%>" name="curGetwant">
			<input type="hidden" value="<%=curGetwant_members%>" name="curGetwant_members">
			<input type="hidden" value="<%=curGetwant_ip%>" name="curGetwant_ip">
			<input type="hidden" value="<%=curIp%>" name="curIp">
		</form>
		<div class="ui labeled button" onClick="getwant()" tabindex="0" id="button_getwant">
			<div class="ui blue button">
				<i class="plane icon"></i> I wanna go
			</div>
			<a class="ui basic blue left pointing label">
			<%=curGetwant%>
			</a>
		</div>
		<h3>Instagram</h3>
		<div class="ui container">
			<label><a href="https://www.instagram.com/<%=curInsid%>" target="_blank"><i class="instagram icon"></i> <%= curInsid %></a></label>
		</div>
		<p>
		<hr>
		<br>
		<%- include showpost_comment.ejs%>
	</body>
</html>