<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Show post</title>
	</head>
	<body>
		그런데 members에 있는 건 req.user로 넣는데, postings에 있는 것은 다시 잡아야하나 ? 어케 넣지 ? signup참조해보자.
		<h1>Written by <%= flagpath%><%= nickname%> !</h1> <!-- tik.members -->
		<!-- <%= created_at%> 
		<%= picpath%><br>
		<%= post%><br>
		I wanna go : <%= getwant%><br>
		HashTag : <%= hashtag%><br> 이 5줄 모두 tik.postings이다. postings 등록하고 app.js에 showpost를 수정하자.-->
		Instagram ID : <%= insid%><br> <!-- tik.members -->
	</body>
</html>