<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>Show post</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script>
		function button_delPost() {
			if(confirm("Really want to delete this post ?") == true) {
				$("#button_delPost").submit();
			} else {
				return;
			}
		};

		function button_delComm(id) {
			if(confirm('Really want to delete this comment ?') == true) {
				$("#c_id").val(id);
				$("#button_delComm").submit();
			} else {
				return;
			}
		};

		function updaComment() {
			$("#curComm").css("display", "none");
			$("#updaText").css("display", "");
			$("#showUpdaButton").css("display", "none");
			$("#updaButton").css("display", "");
			$("#updaCancel").css("display", "");
		};

		function updaCancel() {
			$("#curComm").css("display", "");
			$("#updaText").css("display", "none");
			$("#showUpdaButton").css("display", "");
			$("#updaButton").css("display", "none");
			$("#updaCancel").css("display", "none");
		};

		function updaSubmit() {
			if(confirm('Really want to update this comment ?') == true) {
				$("#updaSubmit").submit();
			} else {
				return;
			}
		};

		function showSC(i) {
			$('#SC'+i).css('display','');
		};
		function hideSC(i) {
			$('#SC'+i).css('display','none');
		};

		window.onload = function() {
		}
		</script>
	</head>
	<body>
		<%
			var curId = results[0].id;
			var curFlagpath = results[0].flagpath;
			var curNickname = results[0].nickname;
			var curInsid = results[0].insid;
			var curCreated_at = results[0].created_at;
			var curUpdated_at = results[0].updated_at;
			var curTitle = results[0].title;
			var curPicpath = results[0].picpath;
			var curPost = results[0].post;
			var curGetwant = results[0].getwant;
			var curHashTag = results[0].hashtag;
			var curViews = results[0].views;
			var curHowmanydays = results[0].howmanydays;
			var curPostnum = results[0].postnum;
			var curP_MembersId = results[0].members_id;
			var curPostings_postnum = results[0].postings_postnum;
			var commLeng = 0;
		%>
		<% if(notSign === false) {%>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a> Hi ! <%=signNick%>
		<% } else { %>
			<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<% } %>
		<hr>
		<h1>Written by <%= curFlagpath%><%= curNickname%> !</h1>
		<% if(curId == curSigninId) { %> <%# If sign in %>
			<input type="submit" value="delete" onClick="button_delPost();">
			<form method="post" action="/process/deletepost" id="button_delPost">
			</form>
		<% } else { %>
			<input type="button" value="delete" onClick='alert("you cant delete.")'>
		<% } %>
		<br><br>
		<table>
				<tr>
					<td><label>Created_Date : </label></td>
					<td><%= curCreated_at %></td>
				</tr>
				<tr>
					<td><label>Last Updated_Date : </label></td>
					<td><%= curUpdated_at %></td>
				</tr>
				<tr>
					<td><label>views : </label></td>
					<td><%= curViews%></td>
				</tr>
				<tr>
					<td><label>how many days : </label></td>
					<td><%= curHowmanydays%></td>
				</tr>
				<tr>
					<td><label>title : </label></td>
					<td><%= curTitle%></td>
				</tr>
				<tr>
					<td><label>picpath : </label></td> <%# 이건 사진 이름 받아서 경로를 넣는 걸로 수정하자.%>
					<td><%= curPicpath%></td>
				</tr>
				<tr>
					<td><label>post : </label></td>
					<td><%= curPost%></td>
				</tr>
				<tr>
					<td><label>I wanna go : </label></td> <%# 이거는 버튼을 누르면 숫자가 하나 올라가게.-%>
					<td><input type="button" name="getwant" value="WANNA GO"></td>
				</tr>
				<tr>
					<td><label>Hashtag : </label></td> <%# hashtag 하나씩 추가할 수 있게. %>
					<td><%= curHashTag%></td>
				</tr>
				<tr>
					<td><label>Instagram ID : <a href="https://www.instagram.com/<%=curInsid%>" target="_blank"><%= curInsid %></a></label></td> <%# members에 있는 데이터. com/하고 curInsid받아서 그 사람의 인스타로 가게 하자.%>
				</tr>
			</table>
		<% if(curSigninId !== false) { %>
			<% if(curId == curSigninId) { %>
				<a href="/process/editpost">Edit</a>
			<% }%>
		<% }%>
		<p>
		<hr> 
			<%# comments %>
		<br>
		- comments - <br><br>
		<% for(var i=0; i<results.length; i++) { %>
			<% var curComment = results[i].comment;
			var curCNickname = results[i].c_nickname;
			var curMembersId = results[i].c_members_id;
			var curC_id = results[i].c_id;
			var curDepth = results[i].depth;
			var curGroupnum = results[i].groupnum;
			var curGrconum = results[i].grconum;

			if(results[0].comment !== null) {%> 

				<% if(curGrconum <= 1) {%> <%# 댓글 이라면%>
				<form method="post" action="/process/updatecomment" id="updaSubmit">
					<input type="text" name="updacomment" id="updaText" value="<%=curComment%>" style="display:none">
					<input type="hidden" name="updaC_id" value="<%=curC_id%>">
				</form> 
				<%= curFlagpath%><%= curCNickname%> : <span id="curComm" style="display:"><%= curComment%>
				</span>
				
				<div style="float:right">
						<%# reply button %>
					<% if(notSign === false) { %>
					<span>
						<input type="button" value="update" id="updaButton" onClick="updaSubmit()" style="display:none">
						<input type="button" value="cancle" id="updaCancel" onClick="updaCancel()" style="display:none">
					</span>
						<input type="button" value="reply" onClick="showSC(<%=i%>)">
					<% } else {%>
						<input type="button" value="reply" onClick='alert("you need to Sign in.")'>
					<% } %>
						<%# update button %>
						<% if(curMembersId == curSigninId) { %>
							<input type="button" value="update" onClick="updaComment()" id="showUpdaButton" style="display:">
						<% } else { %>
							<input type="button" value="update" onClick='alert("you can not update.")'>
						<% } %>
						<%# delete button %>
					<% if(curMembersId == curSigninId || curP_MembersId == curSigninId) { %>
						<input type="submit" value="delete" onClick="button_delComm(<%= curC_id%>)"><br>
					<% } else { %>
						<input type="button" value="delete" onClick='alert("you can not delete.")'><br>
					<% } %>
				</div>
				<% } else { %> <%# 대댓글 이라면 %>
					&emsp;&emsp;<%= curFlagpath%><%= curCNickname%> : <%= curComment%>

					<% if(curMembersId == curSigninId || curP_MembersId == curSigninId) { %>
						<input type="submit" value="delete" onClick="button_delComm(<%= curC_id%>)"><br>
					<% } else { %>
						<input type="button" value="delete" onClick='alert("you can not delete.")'><br>
					<% } %>
				<% } %>
				<% if(notSign === false) { %> <%# 대댓글 추가. %>

				<% var maxGrconum = []; %> <%# grconum의 max값 구하기. app.js에서 helper사용. %>
				<% for(var j =0; j < results.length; j++) {%>
					<% 
					var arrGrconum = [];
						arrGrconum.push(results[j].grconum);
						maxGrconum.push(arrGrconum);
					%>
				<% } %>

					<div id='SC<%=i%>' style="display:none"> 
						<form method="post" action="/process/addsecomment">
							<%= curFlagpath%><%= signNick%> : 
							<textarea name="secomment"></textarea>
							<input type="hidden" name="nickname" value="<%= signNick%>">
							<input type="hidden" name="postnum" value="<%= curPostnum%>">
							<input type="hidden" name="c_id" value="<%= curC_id%>">
							<input type="hidden" name="postings_postnum" value="<%= curPostings_postnum%>">
							<input type="hidden" name="cMembersId" value="<%= curMembersId%>">
							<input type="hidden" name="curDepth" value="<%= curDepth%>">
							<input type="hidden" name="curGroupnum" value="<%= curGroupnum%>">
							<input type="hidden" name="maxGrconum" value="<%= maxHelper(maxGrconum)%>">
							<input type="submit" value="submit">
							<input type="button" value="cancel" onClick="hideSC(<%=i%>)">
						</form>
					</div>
				<% } %>
			<% } %><hr>
			<% if(results[i].groupnum !== null){ %>
				<% var countGroupnum = results[i].groupnum; %>
			<%}%>
			<% if(results[i].groupnum === null){ %>
				<% var countGroupnum = 0; %>
			<%}%>

		<% } %><br>
		<form method="post" action="/process/deletecomm" id="button_delComm">
			<input type="hidden" name="c_id" id="c_id">
		</form>
		<form method="post" action="/process/addcomment">
			<% if(notSign === false) { %>
				<input type="hidden" name="nickname" value="<%= signNick%>">
				<input type="hidden" name="postnum" value="<%= curPostnum%>">
				<input type="hidden" name="id" value="<%= curId%>">
				<input type="hidden" name="maxGroupnum" value="<%=countGroupnum%>">
				<input type="hidden" name="nonGroupnum" value="<%=countGroupnum%>">
			<% } %>
			<table>
				<tr>
					<td><label>- add comment -</label></td>
				</tr>
				<tr>
					<% if(notSign === false) { %>
						<td><%= curFlagpath%><%= signNick%> : </td>
					<% } %>
					<td><textarea name="comment"></textarea></td>
				</tr>
			</table>
			<% if(notSign === true) { %>
				<input type="button" value="add comment : ) " onClick='alert("need Signining")'>
			<% } else { %>
				<input type="submit" value="add comment : ) ">
			<% } %>
		</form>

	</body>
</html>