<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Show post</title>
	</head>
	<body>
		<%
			var curFlagpath = results.flagpath;
			var curNickname = results.nickname;
			var curInsid = results.insid;
			var curCreated_at = results.created_at;
			var curTitle = results.title;
			var curPicpath = results.picpath;
			var curPost = results.post;
			var curGetwant = results.getwant;
			var curHashTage = results.hashtag;
		%>
		<h1>Written by <%= curFlagpath%><%= curNickname%> !</h1> <%# tik.members %>
		Created_Date : <%= curCreated_at%> 
		Title : <%= curTitle%>
		Picpath : <%= curPicpath%><br>
		this is post : <%= curPost%><br>
		I wanna go : <%= curGetwant%><br>
		HashTag : <%= curHashTage%><br> <%# 이 5줄 모두 tik.postings이다. postings 등록하고 app.js에 showpost를 수정하자. %>
		Instagram ID : <%= curInsid%><br> <%# tik.members %>
	</body>
</html>