<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>Show post</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script>
		function button_delPost() {
			if(confirm("Really want to delete this post ?") == true) {
				$("#button_delPost").submit();
			} else {
				return;
			}
		};

		function button_delComm(id) {
			if(confirm('Really want to delete this comment ?') == true) {
				$("#c_id").val(id);
				$("#button_delComm").submit();
			} else {
				return;
			}
		};

		</script>
	</head>
	<body>
		<%
			var curId = results[0].id;
			var curFlagpath = results[0].flagpath;
			var curNickname = results[0].nickname;
			var curInsid = results[0].insid;
			var curCreated_at = results[0].created_at;
			var curUpdated_at = results[0].updated_at;
			var curTitle = results[0].title;
			var curPicpath = results[0].picpath;
			var curPost = results[0].post;
			var curGetwant = results[0].getwant;
			var curHashTag = results[0].hashtag;
			var curViews = results[0].views;
			var curHowmanydays = results[0].howmanydays;
			var curPostnum = results[0].postnum;
			var curP_MembersId = results[0].members_id;
		%>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Written by <%= curFlagpath%><%= curNickname%> !</h1>
		<% if(curId == curSigninId) { %> <%# If sign in %>
			<input type="submit" value="delete" onClick="button_delPost();">
			<form method="post" action="/process/deletepost" id="button_delPost">
			</form>
		<% } else { %>
			<input type="button" value="delete" onClick='alert("you cant delete.")'>
		<% } %>
		<br><br>
		<table>
				<tr>
					<td><label>Created_Date : </label></td>
					<td><%= curCreated_at %></td>
				</tr>
				<tr>
					<td><label>Last Updated_Date : </label></td>
					<td><%= curUpdated_at %></td>
				</tr>
				<tr>
					<td><label>views : </label></td>
					<td><%= curViews%></td>
				</tr>
				<tr>
					<td><label>how many days : </label></td>
					<td><%= curHowmanydays%></td>
				</tr>
				<tr>
					<td><label>title : </label></td>
					<td><%= curTitle%></td>
				</tr>
				<tr>
					<td><label>picpath : </label></td> <%# 이건 사진 이름 받아서 경로를 넣는 걸로 수정하자.%>
					<td><%= curPicpath%></td>
				</tr>
				<tr>
					<td><label>post : </label></td>
					<td><%= curPost%></td>
				</tr>
				<tr>
					<td><label>I wanna go : </label></td> <%# 이거는 버튼을 누르면 숫자가 하나 올라가게.-%>
					<td><input type="button" name="getwant" value="WANNA GO"></td>
				</tr>
				<tr>
					<td><label>Hashtag : </label></td> <%# hashtag 하나씩 추가할 수 있게. %>
					<td><%= curHashTag%></td>
				</tr>
				<tr>
					<td><label>Instagram ID : <a href="https://www.instagram.com/<%=curInsid%>" target="_blank"><%= curInsid %></a></label></td> <%# members에 있는 데이터. com/하고 curInsid받아서 그 사람의 인스타로 가게 하자.%>
				</tr>
			</table>
		<% if(curSigninId !== false) { %>
			<% if(curId == curSigninId) { %>
				<a href="/process/editpost">Edit</a>
			<% }%>
		<% }%>
		<p>
		<hr> 
			<%# comments %>
		<br>
		- comments - <p>
		
		<% for(var i=0; i<results.length; i++) {
			var curComment = results[i].comment;
			var curCNickname = results[i].c_nickname;
			var curMembersId = results[i].c_members_id;
			var curC_id = results[i].c_id;

			if(results[0].comment !== null) {%>
				<%= curComment%> - Written by <%= curCNickname%>
				<% if(curMembersId == curSigninId || curP_MembersId == curSigninId) { %>
					<input type="submit" value="delete" onClick="button_delComm(<%= curC_id%>)"><br>
				<% } else { %>
					<input type="button" value="delete" onClick='alert("you can not delete.")'><br>
				<% } %>
			<% } %>
		<% } %>
		<form method="post" action="/process/deletecomm" id="button_delComm">
			<input type="hidden" name="c_id" id="c_id">
		</form>
		<input type="hidden" name="nickname" value=<%= curMembersId%>>
		<input type="hidden" name="postnum" value=<%= curSigninId%>>
		<form method="post" action="/process/addcomment">
			<% if(notSign === false) { %>
				<input type="hidden" name="nickname" value=<%= signNick%>>
				<input type="hidden" name="postnum" value=<%= curPostnum%>>
				<input type="hidden" name="id" value=<%= curId%>>
			<% } %>
			<table>
				<tr>
					<td><label>- add comment -</label></td>
				</tr>
				<tr>
					<% if(notSign === false) { %>
						<td>Written by : <%= curFlagpath%><%= signNick%></td>
					<% } %>
				</tr>
				<tr>
					<td><textarea name="comment"></textarea></td>
				</tr>
			</table>
			<% if(notSign === true) { %>
				<input type="button" value="add comment : ) " onClick='alert("need Signining")'>
			<% } else { %>
				<input type="submit" value="add comment : ) ">
			<% } %>
		</form>

	</body>
</html>